html {
    height: 100%;
}

body {
    background-color: #f0dbbc;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: #312825;
    color: whitesmoke;
    opacity: 0.8;
}

i {
    color: #d77a61;
}

img {
    width: 80%;
    height: auto;
    max-width: 80vw;
    border-radius: 1.5%;
}

/* xxs */
@media screen {
    .header-container {
        height: 700px;
    }
    p,
    li {
        font-size: large;
    }
}

/* sm  */
@media screen and (min-width: 300px) {
    .header-container {
        height: 1000px;
    }
}

/* lg  */
@media screen and (min-width: 1200px) {

    p,
    li {
        font-size: x-large;
    }

    .content-container {
        height: 900px;
    }

    .header-container {
        height: 600px;
    }
}